<!DOCTYPE html>
<html>
<head>
  <title>Angular + Smartystreets</title>
  <link rel="stylesheet" type="text/css" href="liveaddress.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script type="text/javascript" src="liveaddress.js"></script>
</head>

<body>

<div ng-app="liveaddress" class="main">

  <h1>Angular + SmartyStreets</h1>

  <h2>Step 1: Enter a token</h2>
  <input type="text" ng-model="token" placeholder="SmartyStreets html token" class="inputbox"/>

  <h2>Step 2: Search for things</h2>
  <div liveaddress token="token" ng-model="address" input-class="{inputbox:true}"></div>

  <h2>Step 3: Get results</h2>
  <pre>{{ address|json }}</pre>

</div>

</body>
</html>